.ItemContainer {
  background: white;
  height: 100%;
  padding: 30px;
}

.ItemImage {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  padding-top: 20px;
}

.TagContainer {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 0;
}

.Tag {
  border: 2px #eff2f6 solid;
  border-radius: 5px;
  display: inline;
  padding: 3px 15px;
  margin: 5px;
}
